.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

.weather-box-add {
  display: flex;
  padding: 25px;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-radius: var(--main-border-radius);
  background-color: var(--bg-color--card);
  color: rgb(0, 19, 101);
}
